body {
  text-align: center;
  background-color: black;
}

.title {
  color: white;
}

#title1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
}

#title2, #title3 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
}

p {
  font-family: Verdana;
  color: gray;
  font-size: 21px;
}

#copy-rights {
  text-align: right;
  color: gray;
}
